@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="margin">
    
            <p>
                Sacrametal Meeting Palnner System
            </p>
        
        <div>
            <a asp-area="" asp-controller="Meetings" asp-action="Index">
                <img src="~/images/chapel.jpg" alt="Chapel"></a>
        </div>
    </div>
</div>
