@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="margin">
        <p>
            Sacrament Meeting Planner allows you to plan and organize your Ward's sacrament meetings in advance.
        </p>
        <br />
        <div>
            <a asp-area="" asp-controller="Meetings" asp-action="Index">
                <img src="~/img/chapel.jpg" alt="Chapel"></a>
        </div>
    </div>
</div>
